.clear{
    clear: both;
}

#global{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: url(../Images/background/sky-cartoon.jpg);
}
#box-shadow{
    display: none;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}
#main-title{
    width: 1100px;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 200px;
    background-color: #B87003;
    display: none;
    color: #FFFFFF;
    padding-top: 25px;
    height: 105px;
    font-size: 70px;
}
#content{
    position: relative;
    width: 400px;
    height: 465px;
    margin: auto;
    background-color: #FFFFFF;
    text-align: center;
}

#content img.connect{
    width: 223px;
    height: 66px;
    margin: 100px auto 0 auto;
    cursor: pointer;
}

#content .intro{
    padding-top: 30px;
}

#content .result{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

#content .result .menu{
    width: 100%;
    height: 80px;
}

#content .result .menu .picture-menu{
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px 10px;
}

#content .result .menu .picture-menu img{
    width: 60px;
    height: 60px;
}

#content .result .me, #content .result .others{
    width: 50%;
    height: 235px;
    float: left;
}

#content .result .name{
    font-size: 25px;
    margin-bottom: 20px;
}

#content .result .picture{
    width: 60px;
    height: 60px;
}

#content .result .astro{
    font-size: 15px;
    margin-top: 20px;
}

#content .result .affinity{
    background: url(../Images/red-heart.png);
    width: 150px;
    height: 108px;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    color: #FFFFFF;
    font-size: 50px;
    top: 140px;
    left: 324px;
}
#content .result .show-details{
    cursor: pointer;
}

#details{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 200;
}

#details .exit{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: url(../Images/button/exit.gif);
}

#details .infos .head *{
    display: inline-block;
}

.sign{
    margin-top: 20px;
    vertical-align: top;
}