.clear{
    clear: both;
}

body{
    background: url(../Images/background/sky-cartoon.jpg) center;
}
#global{
    width: 100%;
    height: 100%;
    font-family: 'Arial';
    padding-top: 50px;
}
#box-shadow{
    display: none;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}
#content{
    position: relative;
    height: 465px;
    margin: auto;
    text-align: center;
}

#content a.connect{
    display: block;
    background-color: #8e604d;
    padding: 7px 10px;
    font-weight: bold;
    font-size: 21px;
    width: 223px;
    margin: 50px auto 0 auto;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px #000000 solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

#content .result{
    background-color: #FFFFFF;
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

#content .result .menu{
    width: 100%;
    height: 80px;
}

#content .result .menu a{
    display: block;
    width: 60px;
    height: 60px;
}

#content .result .menu .picture-menu{
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px 6px;
    cursor: pointer;
}

#content .result .menu .picture-menu img{
    width: 60px;
    height: 60px;
}

#content .result .menu .picture-menu .hidden-astro,
#content .result .menu .picture-menu .hidden-affinity{
    display: none;
}

#content .result .me, #content .result .other{
    width: 50%;
    height: 235px;
    float: left;
}

#content .result .name{
    font-size: 25px;
    margin-bottom: 20px;
}

#content .result .picture{
    width: 60px;
    height: 60px;
}

#content .result .astro{
    font-size: 15px;
    margin-top: 20px;
}

#content .result .affinity{
    background: url(../Images/red-heart.png);
    width: 150px;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    color: #FFFFFF;
    font-family: 'Arial';
    font-size: 36px;
    top: 140px;
    left: 324px;
}
#content .result .show-details{
    cursor: pointer;
}

#details .text-chine{
    display: none;
}

#details{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(#C0C0C0, #FFFFFF);
    z-index: 200;
}

#details .exit{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: url(../Images/button/exit.png);
    cursor: pointer;
}

#details .next{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 86px;
    height: 65px;
    background: url(../Images/button/next.png);
    cursor: pointer;
}

#details .infos .head{
    margin-top: 80px;
}
#details .infos .head .border-picture{
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

#details .infos .head *{
    display: inline-block;
}

#details .affinity-img{
    background: url(../Images/red-heart-small.png) center no-repeat;
    width: 500px;
    height: 50px;
    margin: auto;
    padding-top: 30px;
}
#details .affinity-img p{
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    width: 140px;
}
#details .affinity-img p.text-left{
    text-align: left;
    color: #000000;
}
#details .affinity-img p.text-right{
    text-align: right;
    color: #000000;
}
#details .astro-sign{
    margin-top: 20px;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

#details .texts{
    width: 80%;
    margin: auto;
}

#global #details .astro-chine{
    display: none;
}

#details .content{
    position: relative;
}
#details .loader{
    position: absolute;
    display: none;
    top: 70px;
    left: 46%;
}

#FanPagePromo{
    display: none;
    position: absolute;
    top: 0;
    left: 163px;
    width: 475px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 200;
}

#FanPagePromo .exit{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: url(../Images/button/exit.png);
    cursor: pointer;
}

#FanPagePromo p{
    text-align: center;
    width: 370px;
    margin: 15px auto;
}

#FanPagePromo .img-astro-eu{
    margin: 50px 0 15px 0;
}
#FanPagePromo .img-astro-ch{
    margin-top: 20px;
}

#completeView{
    background-color: #FFFFFF;
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

#completeView .exit{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: url(../Images/button/exit.png);
    cursor: pointer;
}

#completeView .friend-list{
    overflow: auto;
    width: 33%;
    height: 100%;
    float: left;
}

#completeView .friend-list a{
    display: block;
    text-decoration: none;
    color: #909090;
}
#completeView .friend-list a:focus{
    text-decoration: underline;
    color: #000000;
}

#completeView .details{
    width: 67%;
    float: left;
}

#completeView .details .next{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 86px;
    height: 65px;
    background: url(../Images/button/next.png);
    cursor: pointer;
}
#completeView .affinity-img{
    background: url(../Images/red-heart-small.png) center no-repeat;
    width: 80px;
    height: 50px;
    margin: auto;
    padding-top: 30px;
}
#completeView .affinity-img p{
    color: #FFFFFF;
    font-weight: bold;
}
#completeView .details .infos .head{
    margin-top: 80px;
}

#completeView .details .infos .head *{
    display: inline-block;
}

#completeView .details .astro-sign{
    margin-top: 20px;
    width: 100px;
    vertical-align: top;
}

#global #completeView .details .text-chine{
    display: none;
}

#completeView .details .content{
    position: relative;
}
#completeView .details .loader{
    position: absolute;
    display: none;
    top: 70px;
    left: 46%;
}

#ShareButton{
    margin-top: 10px;
}

.post-feed{
    display: none;
    text-align: center;
    font-size: 11px;
    color: #2bc23a;
}

.share-result{
    display: block;
    margin: 20px auto 0 auto;
}